html{
    background-color: hsl(217, 54%, 11%);
}
body
{
    font-family:"outfit";
    border-radius: 15px;
    position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    padding:22px;
    margin:auto;
    width:300px;
background-color: hsl(216, 50%, 16%);
box-shadow: 0 30px 0 15px #0C1729, 0 30px 0 40px #0C192C;
}

.nft-image
{   border-radius: 15px;
    
    height: 100%;
    width: 100%;
    
}
.creatorname:hover{
    color:hsl(178, 100%, 50%);
}
h2:hover{
    color:hsl(178, 100%, 50%);
}
h2{
    color:white;
}
p{
    color:hsl(215, 51%, 70%);
}
.avatar
{
    background-color:white;
    border-radius:50%;
    width:40px;
    height:40px;
    align-self: center;
    margin-right:16px;
}
.info
{display:flex;
    justify-content: space-between;
}
.price
{
    display:flex;
}

.timer
{
    display:flex;
    
}
.icon
{align-self: center;
    margin-right:8px;}

footer
{display:flex}
.cyantext
{color:hsl(178, 100%, 50%);}

hr
{
    height: 1px;
    background-color:hsl(215, 32%, 27%);
    border:none;
}

.creatorname
{
    color:white;
    background-color: transparent;
}

.container{
    position: relative;
    width: 100%;
}
/* overlay for image */
.nft-image {
    opacity: 1;
    display: block;
    transition: .5s ease;
}

    .middle-image {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        z-index:1;
        
}

.color-overlay{

height:300px;
width:300px;
border-radius: 15px;
transition: .5s ease;
        opacity: 0;
        position: absolute;
top: 50%;
left: 50%;
background-color:hsl(178, 100%, 50%);
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}
          
          .container:hover .color-overlay {
            opacity: 0.5;}

          .container:hover .middle-image {
            opacity: 1;}

